/*
    Theme Name: Indohotels.id Blue
    Theme URI: http://indohotels.id
    Description: Hotel Template by Indohotels.id
    Tags: HTML5, CSS3

    License: MIT
    License URI: http://opensource.org/licenses/mit-license.php
    */

/*------------------------------------*\
    MAIN
    \*------------------------------------*/

/* global box-sizing */

*, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul {
  padding-start: 0;
  -webkit-padding-start: 0;
}

/* html element 62.5% font-size for REM use */

html {
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #636363;
  max-width: 100%;
  max-height: 100%;
}

/* clear */

.clear:before, .clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #01509F;
  text-decoration: none;
}

a:hover {
  color: #01509F;
}

a:focus {
  outline: 0;
}

a:hover, a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

ol, li {
  list-style: none;
}

/*------------------------------------*\
    STRUCTURE
    \*------------------------------------*/

/* wrapper */

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  background: transparent;
}

.container {
  max-width: 960px;
}

/* header */

.header-home {
  width: 100%;
  text-align: center;
  color: #CACACA;
}

.home-slider {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-image-page {
  background: url('asset/images/header1.jpg') no-repeat;
  height: 80vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  color: #CACACA;
}

.header-all {
  background-color: #01509F;
  width: 100%;
  text-align: center;
  color: #CACACA;
}

header .search-hotels {
  padding-top: 280px;
  padding-bottom: 200px;
}

.cover-check {
  margin-bottom: 30px;
}

.booking-title {
  padding: 5px 0;
  font-size: 16px;
}

#ros-in {
  width: 100%;
  color: #fff;
  font-size: 16px;
  background-color: #01509F;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin-top: 20px;
  position: relative;
}

#ros-in:after {
  background: rgba(0, 0, 0,.7);
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#ros-in .box-bg {
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 1;
}

#ros-in h2 {
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.wrap-logo {
  height: 100px;
  overflow: hidden;
}

.logo {
  text-align: center;
  background-image: url(asset/images/bg-logo.png);
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
  height: 219px;
  padding: 10px;
}

.box-logo {
  padding: 40px 10px;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.42);
}

/* PNG */

.logo-img {
  color: #fff;
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* nav */

.navbar {
  margin-bottom: 0;
}

.navbar-fixed-top {
  background-color: #01509F;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.42);
  -webkit-transition: all .8s ease-in;
  -moz-transition: all .8s ease-in;
  -o-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.navbar-custom ul li {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
}

.nav ul li a:hover, .nav ul li a:active, .nav ul li a::after, .nav ul li a::before, .navbar-custom ul li a:hover {
  background: none;
  text-decoration: underline;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background: transparent;
}

.nav-bottom ul li {
  display: inline;
  padding: 5px 20px;
  font-size: 14px;
}

.nav ul li a, .navbar-nav>li>a {
  color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

ul.nav.navbar-nav:before {
  margin-left: 0;
}

li.btn.btn-rooms {
  margin: 15px;
  background-color: #fff;
  border: 1px solid #01509F;
  border-radius: 0;
  display: inline-block;
}

li.btn.btn-rooms a {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

li.btn.btn-rooms:hover, li.btn.btn-rooms:active {
  background-color: #ebebeb;
}

.navbar .navbar-collapse {
 text-align: center;
}

ul.nav.navbar-nav.sub-nav {
  margin-left: 12px;
}

.nav ul.dropdown-menu {
  background: rgba(214, 144, 61, 0.68);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: rgba(214, 144, 61, 0.44);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: transparent;
  color: #fff;
}
.nav ul.dropdown-menu {
    background: rgba(214, 144, 61, 0.68);
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(214, 144, 61, 0.44);
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #fff;
}


/* ==== sidebar ==== */




/* ==== Home ==== */



.box-home-gallery h2 {
  margin: 0 0 20px;
  text-align: center;
}

.button-check button.btn.btn-check {
  width: 100%;
  margin-top: 32px;
}

.home-carousel {
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.home-carousel.owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  left: -50px;
}

.home-carousel.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  right: -50px;
}

.title-gallery-home {
  text-align: center;
}

.title-gallery-home h2 {
  margin-top: 20px;
  font-size: 16px;
  color: #d6903d;
  text-transform: uppercase;
}

.owl-prev .glyphicon.glyphicon-chevron-left, .owl-next .glyphicon.glyphicon-chevron-right {
  color: #d6903d;
  font-size: 20px;
}

/* ============= */

/* == Footer === */

/* ============= */

footer {
  background: url('asset/images/shattered.jpg');
  background-repeat: repeat-x;
  position: relative;
  padding: 30px 0;
}

footer .nav-bottom,
nav .navbar-custom {
  margin-top: 15px;
  padding: 10px;
  color: white;
  margin-left: -15px;
  margin-right: -15px;
}

footer ul.footer-menu {
  margin-bottom: 0;
}

.footer-credits {
  text-align: center;
  color: #fff;
  padding: 10px;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: #01509F;
  background: white;
  border: solid 2px white;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  border: 1px solid #01509F;
  background-color: #01509F;
  color: #ffffff;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.btn-check, .btn-check:active {
  background-color: #01509F;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: all .8s ease-in;
  -moz-transition: all .8s ease-in;
  -o-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.btn-check:hover {
  background-color: #a12c1f;
  color: #fff;
}

.booking {
  margin-top: 15px;
  margin-bottom: 25px;
}

.booking input[type=submit] {
  margin-top: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.booking label {
  font-style: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.booking .input-group-addon {
  border-left: 0;
}

.booking .form-control, .booking .form-control[readonly], .booking .input-group-addon {
  background: #fff;
  height: 35px;
  padding: 4px;
}

.booking .glyphicon {
  color: #01509F;
}

.powered-by {
  margin: 10px auto;
  max-width: 150px;
}

/*------------------------------------*\
    PAGES
    \*------------------------------------*/

h1.title {
  font-size: 2.4rem;
  color: #01509F;
  font-weight: 600;
}

.rooms-post {
  padding: 10px;
  background-color: #eee;
}

.room-post h2 a {
  font-size: 24px;
  padding-top: 5px;
}

article p {
  margin-bottom: 20px;
  line-height: 1.5;
}

/* ----------------*/

/* ------ Rooms ---*/

/* ----------------*/

.room-thumb {
  text-align: left;
  margin-bottom: 10px;
}

.box-text {
  text-align: center;
}

h2.title {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 30px;
}

h2.title-room-list {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  color: #01509F;
  font-weight: 600;
}

h2.title-room-list a {
  color: #000;
}

.room-info {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.room-breakfast {
  font-size: 18px;
  padding: 5px;
  color: #fff;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.room-price {
  color: #01509F;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.book-room {
  text-transform: uppercase;
  padding: 10px;
  background-color: #01509F;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}

.book-room:hover {
  background-color: #fff;
  color: #01509F;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.book-room:hover a {
  color: #01509F;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

.book-room a {
  color: #fff;
}

.book-room a:hover {
  color: #01509F;
  text-decoration: none;
  background-color: #fff;
  color: #01509F;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.room-tax {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
}

.room-detail a {
  color: #01509F;
}

.rooom-no {
  margin-bottom: 30px;
}

/*-------------------------------*/

/* --- PAGE AVAILABLE ROOMS ----- */

/*-------------------------------*/

.room-booking {
  border: 1px solid #01509F;
  padding: 15px;
  margin: 15px;
}

.room-booking .col-booking, .room-booking .col-value {
  padding: 10px;
}

.room-booking.col-booking.table>tbody>tr>td {
  border: none;
  color: #01509F;
}

.room-booking img {
  width: 100%;
}

.room-details .form-control {
  margin-bottom: 10px;
}

/* ---------------------*/

/* Page Room Details */

/* -------------------- */

.room-title-box {
  background: rgba(17, 17, 17, 0.5);
  padding: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
}

.room-title-box {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  max-width: 50%;
  margin: 0px auto;
}

.room-title-box h2 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 5px;
}

.room-balcony {
  font-style: italic;
}

.room-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.room-details-spec {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  bottom: 10px;
  right: 0px;
  z-index: 100;
  font-weight: 600;
  vertical-align: middle;
}

span.room-value {
  color: #01509F;
}

h3.room-details-f-title {
  background-color: #ebebeb;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #01509F;
}

.feature-box.col-md-12.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

ul.room-features li {
  list-style-type: square;
}

/* -------------------------- */

/* ----- Gallery Slider ------*/

/* ------------------------- */

div#main_area {
  margin-left: auto;
  margin-right: auto;
}

/* Contact Us */

.contact-box {
  /* border: 1px solid #01509F; */
  /*margin: 15px;*/
  margin-top: 10px;
  background: #ebebeb;
  margin-bottom: 20px;
}

.contact-headline {
  background: #01509F;
  padding: 1px 10px;
  color: #fff;
  margin: 0 -15px;
}

.contact-headline h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-address {
  padding: 10px 0;
}

.contact-info tr td:first-child, .contact-info tr td:nth-child(2) {
  padding-right: 10px;
}

.contact-info ul {
  margin-left: 0;
  padding-left: 7px;
  vertical-align: top;
  margin-bottom: 0;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info table tbody tr {
  height: 2em;
}

/*------------------------------------*\
    IMAGES
    \*------------------------------------*/

.thumb {
  overflow: hidden;
}

.thumbnail {
  border: none;
  border-radius: 0;
}

.thumbnail a>img, .thumbnail>img {
  width: 100%;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.thumbnail a>img:hover, .thumbnail>img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

.box-gallery {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #01509F;
  border-bottom: 2px solid #01509F;
  margin-bottom: 30px;
}

.thumbnail-box {
  margin-top: 10px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/*------------------------------------*\
    TYPOGRAPHY
    \*------------------------------------*/

@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
    \*------------------------------------*/

@media only screen and (max-width:320px) {}

@media only screen and (max-width:480px) {
  .box-logo {
    padding: 1px 10px;
    /* max-width: 180px; */
    position: fixed;
    background-color: transparent;
    box-shadow: none;
  }
  /* Rooms */
  .box-container {
    padding: 0;
    margin: 0;
  }
  .room-details {
    margin-left: -45px;
    margin-right: -45px;
  }
  h2.title-room-list {
    margin-top: 20px;
  }
}

@media only screen and (max-width:768px) {
  .home-slider {
    height: 40vh;
  }
  .box-home-gallery {
    margin-left: 50px;
    margin-right: 50px;
  }
  .room-details-spec {
    position: initial;
  }
  .room-details-spec span.col-md-3 {
    display: inline-grid;
    color: #636363;
  }
  footer .nav-bottom ul li {
    font-size: 14px;
    padding: 5px;
    display: block;
  }
}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:1140px) {}

@media only screen and (max-width:1280px) {}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {}

/* -------------- */

/* --- CALERAN -- */

/* -------------- */

/* Caleran */

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-start, .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  min-width: 0;
  margin: 0;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick {
  width: calc(100% / 7);
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1px;
  background: rgb(51, 168, 232);
  cursor: not-allowed !important;
  color: #fff;
  min-height: 30px;
  border-radius: 2px;
  position: relative;
}

.caleran-container .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span, .caleran-container-mobile .caleran-input .caleran-calendar .caleran-days-container .caleran-day-unclick span {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.caleran-apply-d, .caleran-apply {
  background: rgb(51, 168, 232) !important;
  border: 1px solid rgb(51, 168, 232) !important;
  color: #fff;
  margin-left: 7px;
}

.caleran-container-mobile .caleran-input .caleran-footer button.caleran-cancel {
  background: #fff;
  border: 1px solid rgb(51, 168, 232) !important;
  color: rgb(51, 168, 232) !important;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start:not(.caleran-hovered) span, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end:not(.caleran-hovered) span, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-selected, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-start, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-day.caleran-end {
  background: rgb(51, 168, 232) !important;
  color: #fff;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
  text-align: left;
  max-width: 40vmin;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-day {
  float: left;
  margin-right: 10px;
}

.caleran-container .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend, .caleran-container-mobile .caleran-input .caleran-calendars .caleran-calendar .caleran-days-container .caleran-weekend {
  color: #be142f;
}

.caleran-container-mobile .caleran-input .caleran-header .caleran-header-end .caleran-header-end-weekday {
  margin-top: 0;
}

@media screen and (orientation: landscape) {
  .caleran-container-mobile .caleran-input .caleran-header .caleran-header-end {
    width: auto;
    min-width: 0;
  }
}

@media screen and (max-height: 480px) {
  .caleran-container-mobile .caleran-input {
    top: auto;
    bottom: 0;
  }
  .box-text {
    margin-top: 10px;
  }
}
/* ------------------ */

/* --- End Caleran -- */

/* ------------------ */

/*------------------------------------*\
    MISC
    \*------------------------------------*/

::selection {
  background: #01509F;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #01509F;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #01509F;
  color: #FFF;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
    \*------------------------------------*/

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}



/*------------------------------------*\
    PRINT
    \*------------------------------------*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}


/* addtional */
body.about-us .header-image-page {
  height: 60vh;
  background: url('asset/images/michael-dam-257088.jpg') no-repeat;
  background-size: cover;
}

.padtb-large {
  padding: 40px 0;
}

#room-section .box-bg h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

#room-section .box-bg h4 {
  font-size: 16px;
  text-align: center;
}
